*.log
.DS_Store
/.idea
/.venv
/diff
/dropbox-mini
/example-dev.py
/example-finish.py
/interactive.py
/interactive.sh
/print-macos-settings
/qbittorrent-scenario.sh
/scenario*.py
/sudo*.py
/tmp*
__pycache__