*.egg-info
*.log
*.whl
.DS_Store
/.idea
/.venv
/automac-from-scratch.sh
/build
/diff
/dist
/dropbox-mini
/example-dev.py
/example-finish.py
/interactive.py
/interactive.sh
/print-macos-settings
/qbittorrent-scenario.sh
/scenario*.py
/sudo*.py
/tmp*
/venv
__pycache__